@import "tailwindcss";

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/Nunito/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/Nunito/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

@theme {
  --color-primary: "#51e5ff";
  --color-main: #438883;
  --font-nunito: "Nunito Sans", "sans-serif";
}
